
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*ESTILOS DE HEADER - SOLO NICO*/
body {
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    
}
/*.background{
    size;
    position: fixed;
    z-index: -1;
}*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .logo{
    border-radius:50%;
    border: #353535 ;
    border-width: 10px;
    border-style: solid;
    z-index: 1;
    position:relative;
    margin-top: -15vh;
    top:3vh;
    background-color:#353535 ;
}
header .logo img{
    max-height: 90px;
    max-width: 90px;
}

.carousel {
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.carouselimg {
    width: 300%;
    height: 30%;
    display: flex;
    background-color: red;
}

.carouselimg img {
    width: 100%;
    height: 90vh;
}

/*/NAV bar*/

nav {
    background-color: #353535;
    display: flex;
    height: 10vh;
    justify-content: space-around;
    width: 100%;
    position: sticky;
}
.links-nav{
    display: flex;
    list-style: none;
    align-items: center;
    align-self: center;
}

.links-nav li {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}


.links-nav li:after {
    content:" ";
    background-color: red ;
    height: 4px;
    width: 0;
    position:absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
}
.links-nav li:hover::after{
    width: 100%;
    right: 0;
}

.links-nav a {
    font-size: 30px;
    color:   #bcb78a;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    padding: 0 10px;
}


/*ESTILO FOOTER - SOLO NICO*/
footer{
    background-color:#353535 ;
    margin-top: auto;
    padding: 5px 10%;
    display: grid ;
    padding: 0 20px;
    grid-template-columns:repeat(1fr,12);
    align-content: center;
    justify-content: space-around;
}
footer div {
    color:   #bcb78a;
}
footer .caja1 figure img{
    max-height: 55%;
    height: 50%;
    padding: 1rem;
    margin: 1rem;
}
footer .caja1{
    grid-column: 0/2;
}
.caja2{
    align-self: center;
    grid-column: 2/4;
}
.caja3{
    grid-column: 6/12;
    align-self: center;
}
.social {
    align-self: center;
    grid-column: 4/6;
    color:   #bcb78a;
}
.redes a { 
    text-decoration: none;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #314652;
    color: #ffffff;
    border-radius: 50%;
  }
.redes{
    justify-content: space-around;
    display: flex;
 }
  
/*/////////////////////////////////////////////////////////////////////////////////////////////*/

/*ESTILO INDEX - SOLO MATIAS*/
.i-1er-section{
    
    display: block;
    position: relative;  
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%vh;
    
}
.textoindex{
    background-color: #3146529f;
}
p{
    color: #353535;
    text-align: center;
    font-size: 30px;

}

.slider-container {
    z-index: -1;
    position: relative;
    top:0;
    left: 0;
    display: flex;
    width: 80%;
    height: 75vh;
    overflow-x: scroll   

    }

    .slider-container img {        
    flex: 0 0 100%;
    width: 100%;
    object-fit: fill;      

    scroll-snap-align: center;
    }

/*ESTILO PROPUESTA TURISTICA - SOLO MATIAS*/


/*///////////////////////////////////////////////////////////////////////////////////////////*/

/*ESTILOS RESERVAS - SOLO FACUNDO*/
*{
    padding: 0;
    margin: 0;
}

.background{
    position: fixed;
    width: 100vw;
    top:-300px;
    height: auto;
    z-index: -1;
}



.reservas{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.caracteristicas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: start;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
    margin-bottom: 15px;
}


h1,h2,h3{
    color: #bcb78a;
}
h1{
    grid-column: 1/12;
}

li{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

button{
    border-radius: 15px;
    background-color:#bcb78a;
    height: 3rem;
    min-width: 20%;
    max-width: 50%;
    border-style: none;
    box-shadow: 0 0 5px 0 #353535;
    margin: 10px;
    color: #314652;
}

button:hover{
    background-color: #ffffff;
    transition: 1s;
}

#reservar-ok:hover{
    background-color: #D5B9B2;
    transition: 1s;
    
}
#reservar-no:hover{
    background-color: #f13000;
    transition: 1s;
    
}


.cabañasbox,.bungalowsbox{
    background-color: #225253d0;
    width: 95%;
    padding: 15px;
    margin: 0 15px;
    overflow: hidden;
    height: 60%;
    transition: height 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow:  0 -10px 15px 5px #353535a8 inset;
}

.cabañasbox.info-visible,
.bungalowsbox.info-visible{
    height: auto;
    box-shadow: 0 0 15px 1px #353535a8;
}
.carrusel{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    overflow: hidden;

}
.carrusel>img{
    height: 10rem;
    
}

.section-reserva{
 
    display: none;
   
}

.section-reserva.mostrar {
    margin: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    min-height: 200px;
    align-items: center;
    font-size: 1rem;
    position: fixed;
    top:0;
    left: 7%;
    width: 80%;
    height: 80%;
    border-radius: 15px;
    box-shadow: #353535 0 0 20px 10px;
    background-color: rgba(81, 90, 92, 0.911); 
    z-index: 1000; 
    transition: opacity 0.5s ease; 
}

.section-reserva>div>input{
    font-size: 1rem;
    text-align: center;
    height: 2rem;
    border-radius: 15px;
}

.section-reserva>div{
    padding: 20px;
}
.section-reserva>h3{
    grid-column: 1/13;
}

.div1{
    grid-column: 1/5;
}
.div2{
    grid-column: 5/9;
}
.div3{
    grid-column: 9/13;
}
.div4{
    grid-column: 1/5;
}
.div5{
    grid-column: 5/9;
}
.div6{
    grid-column: 9/13;
}
.div7{
    grid-column: 1/7;
}
.div8{
    grid-column: 7/13;
}

#reservar-ok, #reservar-no{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    width: 50%;
    min-width: fit-content;
}
.section-reserva #reservar-ok{
    grid-column: 1/7;
    justify-self: center;
}

.section-reserva #reservar-no{
    grid-column: 7/13;
    justify-self: center;
}

.section-reserva label{
    color:#D5B9B2;
    font-size: 1.2rem;
}

.section-reserva div select{
    font-size: 1rem;
}

/*////////////////////////////////////contactos SOLO TINCHO/////////////////////////////////////////////*/

.c-datos {
    background-image: url('../img/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.c-datos input[type="text"],
.c-datos input[type="email"],
textarea {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #67AC5B;
border-radius: 5px;
}

.c-datos input[type="submit"] {
background-color: #67AC5B;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
}

.c-datos input[type="submit"]:hover {
background-color: #080808;
}
.c-mapa{
padding: 20px;
overflow: hidden;
}

.c-wrapper{
    display: flex;
}

.c-wrapper > div , .c-datos>section {
    background-color: #225253d0;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow:  0 -10px 15px 5px #353535a8 inset;

    & > h2 {
        color: #bcb78a;
        font-size: 25px;
    }

    & > p {
        font-size: 20px;
        color: #ffffff;
        font-weight: bold;
        font-style: italic;
        text-decoration: none;
    }
    
}

.c-wrapper > div{
    width: 50%;
}

.c-form-container > form > label{
    font-size: 20px;
    color:   #ffffff;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

.c-wrapper>div>p>a{
    color: #ffffff;
    font-weight: 700;
}