/*///header////*/
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color:  #D5B9B2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.header{
    background-color: #353535    ;
    align-items:center ;
    justify-content: center;
    display: flex;
    height: 85px;
    padding: 5px 10%;
    align-self: center;
    width: 100%;
    position:fixed;
}

.header .logo img{
    max-height: 60px;    
    width: auto;
}

.header .links-nav{
    list-style: none;
}

.header .links-nav li {
    display: inline-block;
    padding: 0 20px;
}

.header .links-nav li:hover{
    transform: scale(1.1);
    filter: brightness(150%);
}

.header .links-nav a {
    font-size: 30px;
    color:   #D5B9B2;
    font-weight: bold;
    font-style: italic;
}
/*// Footer///*/
footer{
    background-color:#353535 ;
    margin-top: auto;
    padding: 5px 10%;
}
footer div {
    color:   #D5B9B2;
}
.g1 .caja figure img{
    max-height: 60%;
}
.g1 {
    display: grid ;
    padding: 0 20px;
    grid-template-columns: 1fr 50% 2fr;
    align-content: center;
    justify-content: space-around;
}
.caja2{
    align-self: center;
}
.caja3{
    display: flex;
    justify-content: space-around;
}
.caja3 h2 {
    align-self: center;
}
.redes a { 
    text-decoration: none;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    justify-content: space-around;
  }
  .redes{
    align-self: center;
  }

